/* Atalho para comentario Ctrl + ; */

/* !important é pra priorizar */

.titulo{color:rgb(255, 102, 0) !important;
    background-color: black;
    margin: 10%;
    font-size:200%
}

.subtitulo{
    color:rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    margin: 0%;
    font-size:150%
}

.titulo{color:rgb(255, 102, 0) !important;
    background-color: black;
    margin: 10%;
}